ZUI_HOST=0.0.0.0
ZUI_PORT=8443
ZUI_DB_TYPE=sqlite
ZUI_DB_SQLITE=/var/lib/z-ui/db/z-ui.db
ZUI_XRAY_PATH=/usr/local/bin/xray
ZUI_XRAY_CONFIG=/var/lib/z-ui/xray/config.json
ZUI_XRAY_ASSETS=/usr/local/share/xray
ZUI_XRAY_API_PORT=10085
ZUI_XRAY_STATS=true
ZUI_DEFAULT_THEME=amoled
ZUI_TELEGRAM_ENABLED=false
ZUI_TELEGRAM_TOKEN=
ZUI_TELEGRAM_ADMIN_ID=0
