#!/sbin/openrc-run

command="/usr/local/z-ui/z-ui"
command_background=true
pidfile="/run/z-ui.pid"
description="z-ui Service"
procname="z-ui"
depend() {
    need net
}
start_pre(){
    cd /usr/local/z-ui
}
reload() {
  ebegin "Reloading ${RC_SVCNAME}"
  kill -USR1 $(cat $pidfile)
  eend $?
}